{% extends "base.html" %}

{% block title %}Database{% endblock %}

{% block content %}
<div class="container">
        {% if success %}
            <h1>Database Connection Successful!</h1>
            <img class="homeImg" src="../static/mysql-graphic.webp" alt="Mysql">
            <br>
            <p>The content below is being dynamically populated from the MySql database.</p>
            <p><strong>{{ name }}</strong> says: "{{ content }}"</p>
            <br>
            <p>Here are some more details about the database</p>
            {% if status %}
            <table>
                <thead>
                    <tr>
                        <th>Variable</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in status.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% else %}
                <p>No status data available.</p>
                {% endif %}
        {% else %}
            <h1>Error</h1>
            <p>{{ error }}</p>
        {% endif %}
</div>
{% endblock %}