{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Cody's Flask App!</h1>
    <img class="homeImg" src="../static/home-page-img.webp" alt="DO + Flask">
    <p>Hello, and thank you for checking out this Flask app hosted on DigitalOcean! <br><br>
    You might be interested to know that this is a containerized application running on Kubernetes. Below is the hostname for the machine serving the request. </p>
    <p><b>Host Name: {{ hostname }}</b></p>
    <br>
    <p> Don't forget to check out my DB connection!</p>
    <br>
    <a class="button" href="/database">See DB Connection</a>
</div>
{% endblock %}